{% extends 'base.html.twig' %}

{% block body %}

    {% set urls = UrlsFinder.getUrls %}
    {% set urlsEntity = UrlsFinder.getUrlsEntity %}

    <table class="default">

        <tr>

            <th style="cursor: pointer; background-color: #0dcaf0">URL</th>

            <th style="cursor: pointer; background-color: #0dcaf0">Visitas totales</th>

            <th style="cursor: pointer; background-color: #0dcaf0">Visitas Última Hora</th>

            <th style="cursor: pointer; background-color: #0dcaf0">Visitas Último Día</th>

            <th style="cursor: pointer; background-color: #0dcaf0">Visitas Última Semana</th>

        </tr>
        {% for value in urlsEntity %}
        <tr>
            <td style="text-align: center">{{ value.original }}</td>
            <td style="text-align: center">{{ value.countVisitasTotales }}</td>
            <td style="text-align: center">{{ value.lastHourVisits }}</td>
            <td style="text-align: center">{{ value.lastDayVisits }}</td>
            <td style="text-align: center">{{ value.lastWeekVisits }}</td>

        </tr>
        {% endfor %}

    </table>

    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => table.appendChild(tr) );
        })));

    </script>

{% endblock %}